@use '../../../sass'as *;

.login {
    &__container {
        width: 100%;
        height: 100vh;
        // background-color: $theme-clr;
        background: url('../../../assets/images/bg.png') $theme-clr no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__central-cr {
        width: 500px;
        height: 400px;
        background-color: $white-clr;
        border-radius: $borderRadius;
        position: relative;
        padding: $spacing * 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        #login {
            &__home-anchor {
                position: absolute;
                top: 0;
                left: 0;
                margin: calc($spacing / 2);
                display: flex;
                align-items: center;
                color: $dark-violet-clr;
                border-bottom: 1px dashed $dark-violet-clr;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: $dark-violet-clr;
                }
            }

            &__logo {

                width: 100px;
                height: 100px;
                flex: 40%;
            }

            &__form {
                width: 100%;
                height: 5vh;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                flex: 60%;

                .login__input__cr {
                    display: flex;
                    width: 100%;
                    border: 1px solid rgba($dark-violet-clr, 10%);
                    border-radius: $borderRadius;
                    padding: calc($spacing / 2);

                    svg {
                        fill: $dark-violet-clr;
                        margin-right: 10px;
                    }

                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        font: 18px 'CRegular';
                    }

                    &:focus-within {
                        border-color: $theme-clr;
                        svg {
                            fill: $theme-clr;
                        }
                    }
                }

                #login__submit__btn {
                    height: 5vh;
                    border-radius: $borderRadius;
                    background-color: $theme-clr;
                    color: $white-clr;
                    outline: none;
                    border: none;
                    font: 22px 'CBold';
                    letter-spacing: 1.3px;

                    &:disabled {
                        background-color: rgba($dark-violet-clr, 10%);
                    }
                }
            }
        }
    }
}